In [ ]:
# functions:
# inbuilt -> print, len, type etc
# userdefined

In [1]:
int(2.25)

2

In [3]:
float(2)

2.0

In [4]:
import math as m
m.ceil(6.5)

7

In [5]:
m.floor(6.5)

6

In [ ]:
#syntax of function

# def func():
    # do something
    # do something
    # return

In [6]:
def greet(n):
    print("Welcome to class", n)

In [8]:
greet("Bona")

Welcome to class Bona

In [11]:
type(greet)

function

In [12]:
def func():
    return "this is my first function", 2, 4, 3+7j, True

In [14]:
a = func()
a

('this is my first function', 2, 4, (3+7j), True)

In [15]:
type(a)

tuple

In [16]:
a, b, c, d, e = func()

In [17]:
a

'this is my first function'

In [18]:
b

2

In [19]:
c

4

In [20]:
d

(3+7j)

In [21]:
e

True

In [22]:
def func():
    calc = 2*3*6*5
    return calc

In [23]:
type(func())

int

In [24]:
# default arguement

def sum(a=0, b=0, c=0):
    return a+b+c

In [25]:
type(sum())

int

In [26]:
sum()

0

In [27]:
sum(1,2,3)

6

In [28]:
# a function that take list as input and return all numeric value
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [29]:
only_numeric([1, 2, 3, 4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [30]:
only_numeric([1, 2, 3, 4.5, 5, [1, 2, 3, 4,], "Machine learning"])

[1, 2, 3, 4.5, 5]

In [31]:
# modified
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [32]:
only_numeric([1, 2, 3, 4.5, 5, [1, 2, 3, 4,], "Machine learning"])

[1, 2, 3, 4.5, 5, 1, 2, 3, 4]

In [34]:
def test(*args):
    return args

In [35]:
test([1, 2, 3, 4.5, 5, [1, 2, 3, 4,], "Machine learning"])

([1, 2, 3, 4.5, 5, [1, 2, 3, 4], 'Machine learning'],)

In [38]:
def test(*args, a):
    return args, a

In [39]:
test(1, 2, 3, 4.5, 5, [1, 2, 3, 4,], "Machine learning", a = True)

((1, 2, 3, 4.5, 5, [1, 2, 3, 4], 'Machine learning'), True)

In [40]:
# it should accept any number of arguments
# treated as key vlaue pair

def kwarg_func(**kwargs):
    return kwargs

In [42]:
kwarg_func(a = 2, b = 3, c = [1,2,3])

{'a': 2, 'b': 3, 'c': [1, 2, 3]}

In [45]:
# returns a value which is a list

def test(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i, kwargs[i]

In [44]:
test(a = 2, b = 3, c = [1,2,3])

('c', [1, 2, 3])

In [52]:
def test(*arg, **kwargs):
    """ This function returns arg and kwargs
    Args:
    Kwargs
    """
    return arg, kwargs

In [53]:
test(1,2,4, a=100, c=200)

((1, 2, 4), {'a': 100, 'c': 200})

In [54]:
help(test)

Help on function test in module __main__:

test(*arg, **kwargs)
    This function returns arg and kwargs
    Args:
    Kwargs

In [55]:
print(test.__doc__)

 This function returns arg and kwargs
    Args:
    Kwargs

In [57]:
# Lambda -> anonymous function
# syntax: lambda arguments: expression

sq_lambda = lambda x: x**2

In [58]:
sq_lambda(2)

4

In [59]:
add = lambda a,b: a+b
add(3,4)

7

In [60]:
is_even = lambda x: x%2 == 0
is_even(4)

True

In [61]:
x = ["Python", "Lambda", "ML"]
sorted_words = sorted(x, key = lambda x: len(x))
print(sorted_words)

['ML', 'Python', 'Lambda']

In [63]:
fib = lambda n: n if n <= 1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [65]:
# factorial of a num
def fact_num(n):
    if n==0:
        return 1
    else:
        return n*fact_num(n-1)

In [66]:
fact_num(5)

120

In [67]:
fact_num = lambda n: 1 if n == 0 else n*fact_num(n-1)

In [68]:
fact_num(5)

120

In [69]:
# map -> executes a specified fn for each of item of an iterator

map()

TypeError: map() must have at least two arguments.

In [70]:
l = [1, 2, 3, 4, 5]

def square(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [71]:
square(l)

[1, 4, 9, 16, 25]

In [75]:
def sq(x):
    return x**2

In [76]:
list(map(sq, l))

[1, 4, 9, 16, 25]

In [78]:
list(map(lambda x: x+10, l))

[11, 12, 13, 14, 15]

In [79]:
# reduce -> folding/reduction

from functools import reduce

In [80]:
l = [1, 2, 3, 4, 5, 6]
reduce(lambda x, y: x+y, l)

21

In [82]:
def add(x,y):
    return x+y
reduce(add, l)

21

In [83]:
reduce(lambda x, y: x*y, l)

720

In [84]:
words = ["Data", "Science", "Course"]
reduce(lambda x, y : x + " " + y, words)

'Data Science Course'

In [89]:
def factorial(n):
    return reduce(lambda x, y: x*y, range(1, n+1))

In [90]:
factorial(5)

120

In [91]:
# filter function -> it is used to filter elements from an iterable based on some certain condition

# syntax -> filter(function, iterable)

l

[1, 2, 3, 4, 5, 6]

In [93]:
list(filter(lambda x: x%2 == 0, l))

[2, 4, 6]

In [94]:
list(filter(lambda x: len(x) > 5, words))

['Science', 'Course']

In [95]:
def check_even(num):
    if num % 2 == 0:
        return True
    return False

In [97]:
list(filter(check_even, l))

[2, 4, 6]