In [1]:
t = ()

In [2]:
type(t)

tuple

In [4]:
# Tuples are ordered collection of elemets, hetrogeneous
# Tuples are immutable

tuple1 = ("hello", 7+3j, True, 1, 2.2)
tuple1

('hello', (7+3j), True, 1, 2.2)

In [5]:
tuple1[0]

'hello'

In [6]:
emp_id = (1, 2, 3, 4, 5)

In [7]:
emp_id

(1, 2, 3, 4, 5)

In [8]:
emp_id[0] = 10

TypeError: 'tuple' object does not support item assignment

In [13]:
tuple1

('hello', (7+3j), True, 1, 2.2)

In [12]:
tuple1.count(1)

2

In [14]:
tuple1.index(1)

2

In [15]:
tuple1 * 2

('hello', (7+3j), True, 1, 2.2, 'hello', (7+3j), True, 1, 2.2)

In [16]:
tuple1[0:4]

('hello', (7+3j), True, 1)

In [17]:
tuple1[::-1]

(2.2, 1, True, (7+3j), 'hello')

In [18]:
tuple1[-1]

2.2

In [19]:
for i in tuple1:
    print(i, type(i))

hello <class 'str'>
(7+3j) <class 'complex'>
True <class 'bool'>
1 <class 'int'>
2.2 <class 'float'>

In [21]:
num = (1, 6, 8, 9, 8)
max(num)

9

In [22]:
min(num)

1

In [23]:
(tuple1, num)

(('hello', (7+3j), True, 1, 2.2), (1, 6, 8, 9, 8))

In [24]:
"hello" in tuple1

True

In [25]:
"hello" not in tuple1

False

In [26]:
tuple1 + num

('hello', (7+3j), True, 1, 2.2, 1, 6, 8, 9, 8)

In [27]:
# set -> collection of unique and unordered elements
s = {}
type(s)

dict

In [29]:
s = {2, 3, 4}
type(s)

set

In [31]:
s = {1, 1, 1, 1, 2, 2, 2}
s

{1, 2}

In [33]:
list1 = [2, 3, 4, 4, 3, 5]
s = set(list1)
s

{2, 3, 4, 5}

In [34]:
s[0]

TypeError: 'set' object is not subscriptable

In [35]:
{2, 6, 8, 8, 9, 9}

{2, 6, 8, 9}

In [36]:
for i in s:
    print(i)

2
3
4
5

In [37]:
len(s)

4

In [38]:
s.add(100)

In [39]:
s

{2, 3, 4, 5, 100}

In [40]:
s.pop()

2

In [41]:
s

{3, 4, 5, 100}

In [ ]:
s.remove(100)

In [ ]:
s.remove(50) # if element is not there than throws error

KeyError: 50

In [43]:
s

{3, 4, 5}

In [44]:
del s

In [45]:
s

NameError: name 's' is not defined

In [52]:
s = {3, 4, 5, 100}

In [47]:
s.clear()

In [48]:
s

set()

In [ ]:
s = {3, 4, 5, 100}
s.discard(50) # discard doesnot throw error

In [54]:
s

{3, 4, 5, 100}

#### Set operations
union
intersection
difference
symmetric difference: returns elements that are present in either of sets but not both

In [56]:
s1 = {"hiking", "cooking", "dancing", "coding"}
s2 = {"coding", "photography", "travel"}

In [57]:
# intersection -> &
s1 & s2

{'coding'}

In [58]:
# union -> |
s1 | s2

{'coding', 'cooking', 'dancing', 'hiking', 'photography', 'travel'}

In [59]:
# difference -> -
s1 - s2

{'cooking', 'dancing', 'hiking'}

In [60]:
# symmetric difference
s1 ^ s2

{'cooking', 'dancing', 'hiking', 'photography', 'travel'}

In [70]:
# Frozen sets -> immutable version of set
s = {(1, 2, 3), 100, 3}

In [71]:
s.add(123)

In [72]:
s

{(1, 2, 3), 100, 123, 3}

In [73]:
s = frozenset(s)

In [74]:
s.add(0)

AttributeError: 'frozenset' object has no attribute 'add'

In [75]:
s

frozenset({(1, 2, 3), 100, 123, 3})

In [76]:
type(s)

frozenset