In [1]:
text_content = """
example 1
example 2
exmaple 3
example 4
"""

In [2]:
with open("example.txt", "w") as file:
    file.write(text_content)

In [3]:
with open("example.txt", "r") as file:
    data = file.read()
    
print(data)

example 1
example 2
exmaple 3
example 4

In [4]:
# CSV -> Comma Seperated Values

data = [["Name", "Course", "Fee"],
        ["Ajay", "DS", "1000"],
        ["Bijay", "ML", "2000"]]

In [5]:
data

[['Name', 'Course', 'Fee'], ['Ajay', 'DS', '1000'], ['Bijay', 'ML', '2000']]

In [6]:
for i in data:
    print(i)

['Name', 'Course', 'Fee']
['Ajay', 'DS', '1000']
['Bijay', 'ML', '2000']

In [7]:
import csv

with open("example.csv", "w") as f:
    w = csv.writer(f)
    for i in data:
        w.writerow(i)

In [8]:
with open("example.csv", "r") as f:
    r = csv.reader(f)
    for i in r:
        print(i)

['Name', 'Course', 'Fee']
['Ajay', 'DS', '1000']
['Bijay', 'ML', '2000']

In [9]:
# JSON -> Javascript Object Notation
data = {"name" : "Ajay",
        "course" : "DA",
        "fee" : 29000}

In [10]:
type(data)

dict

In [12]:
import json
with open("json1.json", "w") as f:
    json.dump(data, f)

In [13]:
import json
with open("json2.json", "w") as f:
    json.dump(data, f)
    print(data)

{'name': 'Ajay', 'course': 'DA', 'fee': 29000}

In [ ]:
# Buffered reading -> it allows the program to read the data in chunks
# Buffered writing

In [ ]:
import io
with open("test_buf.txt", "wb") as f:
    file = io.BufferedWriter(f)
    file.write(b"hello world")
    file.write(b"world")
    file.flush()      # write

In [15]:
print(b"hello world")

b'hello world'

In [17]:
with open("test_buf.txt", "rb") as f:
    file = io.BufferedReader(f)
    data = file.read(100)  # 100 bytes
    print(data)

b'hello worldworld'